<!DOCTYPE html>
<!-- 템플릿 엔진(JSP, Thymlear)을 사용-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 목록 조회</title>
</head>
<body>
<div th:replace="member/header :: headerFragment"></div>
<table>
    <tr>
        <th>이름</th>
        <th>이메일</th>
        <th>비밀번호</th>
    </tr>
    <!--반복문으로 객체 개수만큼 row 생성-->
    <tr th:each = "member : ${members}">
        <td th:text="${member.name}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.password}"></td>
        <!--        member?id=xx 방식으로 요청-->
        <!--        @는 th의 링크 url 표현식-->
        <td><a th:href="@{/member/find(id=${member.id})}">상세보기</a></td>
    </tr>
</table>

</body>
</html>